form(class='needs-validation' novalidate)
    h4.mb-3 Perfil da empresa
    .row
        .col-md-4.mb-3
            label(for='firstName') Razão social
            input#firstName.form-control(type='text' placeholder='' required)
            .invalid-feedback
                | O campo primeiro nome obrigatório.
            
        .col-md-4.mb-3
            label(for='lastName') Nome Fantasia
            input#lastName.form-control(type='text' placeholder='' required)
            .invalid-feedback
                | O campo último nome obrigatório.

        .col-md-4.mb-3
            label(for='lastName') CNPJ
            input#lastName.form-control(type='text' placeholder='' required)
            .invalid-feedback
                | O campo último nome obrigatório.
    
    .mb-3
        label(for="email") Email de contato
        input#email.form-control(type="email" placeholder='voce@exemplo.pt')
        
    .mb-3
        label(for="telefone") Telefone
        input#telefone.form-control(type="text" placeholder='xxx (xx) xxxx.xxxx')
        
    .mb-3
        label(for='address') Logradouro
        input#address.form-control(type="text" placeholder="1234 Main St" required)
        .invalid-feedback
            | Campo endereço obrigatório.
        
    .row
        .col-md-5.mb-3
            label(for="country") País 
            select#country.custom-select.d-block.w-100(required)
                option(value="") Selecione...
                option Portugal
            .invalid-feedback
                | Campo país obrigatório.
            
        .col-md-4.mb-3
            label(for="state") Estado
            select#country.custom-select.d-block.w-100(required)
                option(value="") Selecione...
                option California
            .invalid-feedback
                | Campo estado obrgiatório.
            
        .col-md-3.mb-3
            label(for="zip") Código Postal
            input#zip.form-control(type="text" placeholder="" required)
            .invalid-feedback
                | Campo código postal.   
      
    hr.mb-4 
    button.btn.btn-primary.btn-lg.text-right(type="submit") Salvar
