nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            .sb-sidenav-menu-heading
                | Principal
        
            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Dashboard
                
            .sb-sidenav-menu-heading
                | Cadastros

            a.nav-link(href='lista-usuario.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Lista de usuários
            
            a.nav-link(href='cadastro-usuario.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Cadastro  de usuário
            
            a.nav-link(href='perfil.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Perfil            
                        
    .sb-sidenav-footer
        
        .small Bem vindo :
        | Fulano da Silva
